* {font-size: 20px !important; font-family: Arial, Helvetica, sans-serif;}
.grid {display: grid; gap: 5px}
.s2 {grid-template-columns: auto auto;}
.s3 {grid-template-columns: auto auto auto;}
.s4 {grid-template-columns: auto auto auto auto;}
.s5 {grid-template-columns: auto auto auto auto auto;}
select {width: calc(100% );}
.grid input, .grid select, input {width: calc(100% - 10px);}
.size2a {grid-template-columns: auto 150px;}
.size4a {grid-template-columns: auto auto auto 150px;}
.linha {display: grid; grid-template-columns: auto auto auto auto  50px  40px; padding: 5px;}
.th {background-color: rgb(102, 104, 255); color: white}
.gforms {margin: 0;}